---
const { tenant } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{tenant} | Huemanely</title>
  </head>
  <body>
    <header style="padding:1rem; border-bottom:1px solid #ddd">
      <strong>Huemanely SaaS</strong>
    </header>

    <main style="padding:2rem">
      <slot />
    </main>

    <footer style="padding:1rem; border-top:1px solid #ddd">
      Shared footer
    </footer>
  </body>
</html>
