<section class="py-24 text-center space-y-6">
  <h1 class="text-5xl font-extrabold">
    Koala88
  </h1>

  <p class="opacity-80 max-w-xl mx-auto">
    A fully customized fixed tenant.
  </p>
</section>